<ion-content fullscreen scroll-y="false">
  <div id="container">
    <div id="buttonBackDiv">
      <ion-button size="small" shape="round" class="buttonLight" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </div>
    <form>
    <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="9">
            <ion-item lines="full">
              <ion-label position="floating">E-mail</ion-label>
              <ion-input type="email" #email></ion-input>
            </ion-item>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="9">
            <ion-item lines="full">
              <ion-label position="floating">Hasło</ion-label>  
              <ion-input type="password" #password></ion-input>
            </ion-item>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row>
          <ion-col> </ion-col>
          <ion-col size="9">
            <ion-button type="submit" expand="block" class="buttonNormal" (click)="logIn(email, password)">
              Zaloguj
            </ion-button>
          </ion-col>
          <ion-col> </ion-col>
        </ion-row>
        <ion-row>
          <ion-col> </ion-col>
          <ion-col size="3">
            <ion-button type="submit" shape="round" class="buttonDark" (click)="navigateToRegister()">
              <ion-icon name="person-add"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button shape="round" class="buttonGmail" (click)="authService.GoogleAuth()">
            <ion-icon name="logo-google"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </form>
  </div>
</ion-content>