<ion-content fullscreen scroll-y="false">
  <div id="container">
    <div id="buttonBackDiv">
      <ion-button
        size="small"
        shape="round"
        class="buttonLight"
        (click)="userpanel()"
      >
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="9">
          <ion-item>
            <ion-label position="floating">Nowy e-mail</ion-label>
            <ion-input
              type="email"
              [(ngModel)]="user.email"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="9">
          <ion-item>
            <ion-label position="floating">Powtórz nowy e-mail</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="9">
          <ion-button
            expand="block"
            class="buttonNormal"
            (click)="changemail(user)"
            >Zapisz e-mail</ion-button
          >
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
