<ion-content fullscreen = "true" >
    
    <ion-slides id="slideFullScreen" #theSlides>
        <ion-menu side="start" menuId="first" contentId="main">
            <ion-header>
                <ion-toolbar class="toolbar">
                    <ion-title>FILTRUJ</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-item>
                        <ion-segment color="success " value="wybierz">
                            <ion-segment-button value="wymiana">
                                <ion-label>Wymiana</ion-label>
                            </ion-segment-button>
                            <ion-segment-button value="sprzedaz">
                                <ion-label>Sprzedaz</ion-label>
                            </ion-segment-button>
                            <ion-segment-button value="wszystko">
                                <ion-label>Wszystko</ion-label>
                            </ion-segment-button>
                        </ion-segment>
                    </ion-item>
                    <ion-item><ion-textarea placeholder="wpisz miasto" ></ion-textarea></ion-item>
                    <ion-item><ion-textarea placeholder="wpisz autora"></ion-textarea></ion-item>
                    
                    <ion-item>
                        <ion-range pin="true" min="5" max="60" color="success">
                            <ion-label slot="start">5zł</ion-label>
                            <ion-label slot="end">60zł</ion-label>
                        </ion-range>
                    </ion-item>
                    <ion-button class="btnMenu">SZUKAJ</ion-button>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main"></ion-router-outlet>
        
        <ion-slide>
            <div id="containerNoBG">
            <ion-grid>
                <div id="containerHeader">
                            <ion-buttons slot="start">
                        <ion-menu-button class="btnMENU"></ion-menu-button>
                        <ion-avatar style="padding-top: 13px; padding-left: 15px;" (click)="navigateToUserPanel()">
                            <img id="accountAvatar" src="https://i.ya-webdesign.com/images/male-avatar-png-7.png">
                          </ion-avatar>
                    </ion-buttons>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-button class="btnAdd" (click)="newOffer()">DODAJ</ion-button>
                            </ion-col>
                            <ion-col></ion-col>
                            <ion-col>
                                <ion-img src="assets\logo.png" class="logoimgpr"></ion-img>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-toolbar style="width: 100%;">
                        <ion-segment color="success " value="all">
                            <ion-segment-button value="wszystkie">alfabetycznie</ion-segment-button>
                            <ion-segment-button value="sprzedaz">cena<br>rosnąco</ion-segment-button>
                            <ion-segment-button value="wymiana">cena<br>malejąco</ion-segment-button>
                        </ion-segment>
                    </ion-toolbar>
                </div>
                <ion-toolbar>
                    <ion-searchbar placeholder="szukaj"></ion-searchbar>
                </ion-toolbar>
                <ion-list>
                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img src="assets\ksiazka1.png" class="ksiazka1">
                        </ion-thumbnail>
                        <ion-label>
                            <h2>Antygona</h2>
                            <h3>Sofokles</h3>
                            <p>Sopot</p>
                            <h2>Cena: 20zł</h2>
                        </ion-label>
                        <ion-button (click)="moveToBook()" shape="round" class="btnDetails"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
                    </ion-item>

                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img src="assets\ksiazka2.png" class="ksiazka2">
                        </ion-thumbnail>
                        <ion-label>
                            <h2>Lalka</h2>
                            <h3>Bolesław Prus</h3>
                            <p>Gdańsk</p>
                            <h2>Cena: 10zł</h2>
                        </ion-label>
                        <ion-button (click)="moveToBook()" shape="round" class="btnDetails"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
                    </ion-item>

                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img src="assets\ksiazka3.png" class="ksiazka3">
                        </ion-thumbnail>
                        <ion-label>
                            <h2>Dziady cz. III</h2>
                            <h3>Adam Mickiewicz</h3>
                            <p>Wejherowo</p>
                            <h2>Cena: 25zł</h2>
                        </ion-label>
                        <ion-button (click)="moveToBook()" shape="round" class="btnDetails"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
                    </ion-item>

                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img src="assets\ksiazka4.png" class="ksiazka4">
                        </ion-thumbnail>
                        <ion-label>
                            <h2>Pan Tadeusz</h2>
                            <h3>Adam Mickiewicz</h3>
                            <p>Gdynia</p>
                            <h2>Wymiana</h2>
                        </ion-label>
                        <ion-button (click)="moveToBook()" shape="round" class="btnDetails"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
                    </ion-item>

                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img src="assets\ksiazka5.png" class="ksiazka5">
                        </ion-thumbnail>
                        <ion-label>
                            <h2>Wesele</h2>
                            <h3>Stanislaw Wyspiański</h3>
                            <p>Gdańsk</p>
                            <h2>Cena: 15zł</h2>
                        </ion-label>
                        <ion-button (click)="moveToBook()" shape="round" class="btnDetails"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
                    </ion-item>
                </ion-list>
            </ion-grid>
            </div>
        </ion-slide>
    
        <ion-slide>
                <div id="containerNoBG">
                    <ion-grid no-padding>
                        <ion-row no-padding justify-content-start align-items-start>
                            <ion-col>
                                <ion-button (click)="movetoList()" class="btnDetails"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
                            </ion-col>
                            <ion-col size="7" no-padding text-center>
                                <ion-img src="assets\ksiazka1.png" class="detailsimg"></ion-img>
                            </ion-col>
                            <ion-col>
                                <ion-button class="btnFavourites"><ion-icon name="heart-outline"></ion-icon></ion-button>
                            </ion-col>
                        </ion-row>
                        <ion-list>
 
                            <ion-item>
                                <ion-text style="color: var(--ion-color-bookmain-shade)">
                                    <h1><strong><i>ANTYGONA</i></strong></h1>
                                </ion-text>
                            </ion-item>
                            <ion-item>
                                Autor: <br /> Sofokles
                            </ion-item>
                            <ion-item>
                                Cena: <br /> 20zł
                            </ion-item>
                            <ion-item>
                                Miasto: <br />  Sopot
                            </ion-item>
                            <ion-item>
                                Stan: <br />  używana
                            </ion-item>
                            <ion-item>
                                Numer Telefonu: <br />  123-123-345
                            </ion-item>
                            <ion-item>
                                Adres e-mail: <br />  sprzedawca@gmail.com
                            </ion-item>
                            <ion-item>
                                <ion-button class="btnDetails">skontaktuj się ze sprzedwcą</ion-button>
                            </ion-item>
                            <ion-item>
                                Opis: <br /> Tragedia Sofoklesa z roku 442 p.n.e. Nazywana jest tragedią władzy i klasyfikowana jako chronologicznie ostatnia z cyklu trzech tragedii tebańskich (Krol Edyp, Edyp w Kolonie, Antygona) opartych na mitach o tebańskim rodzie Labdakidów. Utwór jest powszechnie uznawany za arcydzieło dramaturgii światowej o nieprzemijającej sile oddziaływania na widza.
                            </ion-item>
                            <ion-item></ion-item>
                            <ion-item>
                                <ion-text style="color: var(--ion-color-bookmain-shade)">
                                    Lista książek sprzedawcy:
                                </ion-text>
                            </ion-item>
                            <ion-list>
                                <ion-item>1. Silmarilion</ion-item>
                                <ion-item>2. Władca Pierścieni: Dwie wieże</ion-item>
                                <ion-item>3. Władca Pierścieni: Powrót Króla</ion-item>
                                <ion-item>4. Wiedźmin: Pani Jeziora</ion-item>
                                <ion-item>5. Wiedźmin: Krew Elfów</ion-item>
                            </ion-list>
                        </ion-list>
                    </ion-grid>
                </div>
        </ion-slide>
        <ion-slide>
            <div id="containerNoBG" style="padding-top: 20%;">
                <div id="buttonBackDiv">
                  <ion-button size="small" shape="round" class="buttonLight" (click)="backInside()">
                    <ion-icon name="arrow-back"></ion-icon>
                  </ion-button>
                </div>
                <ion-grid>
                    <ion-row>
                      <ion-col></ion-col>
                      <ion-col size="9">
                        <ion-item>
                          <ion-label position="floating">Tytuł</ion-label>
                          <ion-input type="text"></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col></ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col></ion-col>
                      <ion-col size="9">
                        <ion-item>
                          <ion-label position="floating">Autor</ion-label>
                          <ion-input type="text"></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col></ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col></ion-col>
                      <ion-col size="9">
                        <ion-item>
                          <ion-label position="floating">Cena</ion-label>
                          <ion-input type="text"></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col></ion-col>
                        <ion-col size="9">
                          <ion-item>
                            <ion-label position="floating">Miasto</ion-label>
                            <ion-input type="text"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col></ion-col>
                        <ion-col size="9">
                          <ion-item>
                            <ion-label position="floating">Stan</ion-label>
                            <ion-input type="text"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col></ion-col>
                        <ion-col size="9">
                          <ion-item>
                            <ion-label position="floating">Opis</ion-label>
                            <ion-textarea placeholder="max. 200 znaków" maxlength="200"></ion-textarea>
                          </ion-item>
                        </ion-col>
                        <ion-col></ion-col>
                      </ion-row>
                    <ion-row>
                      <ion-col></ion-col>
                      <ion-col size="9">
                        <ion-item>
                          <ion-label>Zdjęcie</ion-label>
                          <ion-input type="file" accept="image/*" (change)="changeListener($event)"></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col></ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col></ion-col>
                      <ion-col size="9">
                        <ion-button expand="block" class="buttonNormal">Dodaj ofertę</ion-button>
                      </ion-col>
                      <ion-col></ion-col>
                    </ion-row>
                  </ion-grid>
              </div>
        </ion-slide>
    </ion-slides>
</ion-content>
