<ion-content fullscreen scroll-y="false">
      <div id="container">
        <div id="buttonBackDiv">
          <ion-button size="small" shape="round" class="buttonLight" (click)="back()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <ion-col size="2.5">
              <ion-avatar>
                <img src="https://i.ya-webdesign.com/images/male-avatar-png-7.png">
              </ion-avatar>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" style="text-align: center;">
              Witaj Username!
            </ion-col>
          </ion-row>
          <ion-row style="padding-top: 70px;">
            <ion-col size="6">
              <ion-button expand="block" class="buttonNormal" (click)="changeMail()">Zmiana e-mail</ion-button>
            </ion-col>
              <ion-col size="6">
                <ion-button expand="block" class="buttonNormal" (click)="changePasswd()">Zmiana hasła</ion-button>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="block" class="buttonNormal" (click)="changeCity()">Ulubione miasto</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" class="buttonNormal" (click)="changePersonal()">Moje dane</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="block" class="buttonNormal" (click)="myOffers()">Moje oferty</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" class="buttonNormal" (click)="myFavorite()">Ulubione</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
            <ion-col size="6">
              <ion-button expand="block" class="buttonDark" (click)="authService.SignOut()">Wyloguj</ion-button>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>
      </div>
    <!--<ion-slide>
      <div id="containerNoBG" style="padding-top: 20%;">
        <div id="buttonBackDiv">
          <ion-button size="small" shape="round" class="buttonLight" (click)="backInside()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </div>
        <ion-list>
          <ion-item>
              <ion-thumbnail slot="start">
                  <img src="assets\ksiazka2.png" class="ksiazka2">
              </ion-thumbnail>
              <ion-label>
                  <h2>Lalka</h2>
                  <h3>Bolesław Prus</h3>
              </ion-label> 
          </ion-item>
      </ion-list>
      </div>
    </ion-slide>
    <ion-slide>
      <div id="containerNoBG" style="padding-top: 20%;">
        <div id="buttonBackDiv">
          <ion-button size="small" shape="round" class="buttonLight" (click)="backInside()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </div>
        <ion-list>
          <ion-item>
              <ion-thumbnail slot="start">
                  <img src="assets\ksiazka5.png" class="ksiazka5">
              </ion-thumbnail>
              <ion-label>
                  <h2>Wesele</h2>
                  <h3>Stanislaw Wyspiański</h3>
                  <p>Gdańsk</p>
                  <h2>Cena: 15zł</h2>
              </ion-label>
          </ion-item>
      </ion-list>
      </div>
    </ion-slide>-->
</ion-content>
