/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ion-color-bookmain {
    --ion-color-base: var(--ion-color-bookmain);
    --ion-color-base-rgb: var(--ion-color-bookmain-rgb);
    --ion-color-contrast: var(--ion-color-bookmain-contrast);
    --ion-color-contrast-rgb: var(--ion-color-bookmain-contrast-rgb);
    --ion-color-shade: var(--ion-color-bookmain-shade);
    --ion-color-tint: var(--ion-color-bookmain-tint);
  }

  .ion-color-fb {
    --ion-color-base: var(--ion-color-fb);
    --ion-color-base-rgb: var(--ion-color-fb-rgb);
    --ion-color-contrast: var(--ion-color-fb-contrast);
    --ion-color-contrast-rgb: var(--ion-color-fb-contrast-rgb);
    --ion-color-shade: var(--ion-color-fb-shade);
    --ion-color-tint: var(--ion-color-fb-tint);
  }
  
  .ion-color-gmail {
    --ion-color-base: var(--ion-color-gmail);
    --ion-color-base-rgb: var(--ion-color-gmail-rgb);
    --ion-color-contrast: var(--ion-color-gmail-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gmail-contrast-rgb);
    --ion-color-shade: var(--ion-color-gmail-shade);
    --ion-color-tint: var(--ion-color-gmail-tint);
  }

  #container {
      background: rgb(118,199,124);
      background: linear-gradient(0deg, rgba(118,199,124,1) 0%, rgba(255,255,255,1) 40%);
      width: 100%;
      height: 100%;
      padding-top: 20%;
  }

  #containerNoBG {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

  #containerHeader {
    background: rgb(118, 199, 124);
    background: linear-gradient( 0deg, rgba(255, 255, 255, 1) 0%, rgba(118, 199, 124, 1) 90% );
    width: 100%;
    height: 10%;
    padding-top: 3%;
}

#containerFilter {
    background: rgb(118, 199, 124);
    background: linear-gradient( 0deg, rgba(118, 199, 124, 1) 0%, rgba(255, 255, 255, 1) 40% );
    width: 100%;
    height: 100%;
}

#containerD {
    background: rgb(118, 199, 124);
    background: linear-gradient( 0deg, rgba(118, 199, 124, 1) 0%, rgba(255, 255, 255, 1) 40% );
    width: 100%;
    height: 100%;
}

  .buttonLight{
      --background: var(--ion-color-bookmain-tint);
      color: white;
  }

  .buttonNormal{
    --background: var(--ion-color-bookmain);
    color: white;
  }

  .buttonDark{
    --background: var(--ion-color-bookmain-shade);
    color: white;
  }

  .buttonFB{
    --background: var(--ion-color-fb);
    color: white;
  }

  .buttonGmail{
    --background: var(--ion-color-gmail);
    color: white;
  }

  #buttonBackDiv{
    position: absolute;
    left: 20px;
    top:20px;
  }

  #accountDiv{
    position: absolute;
    right: 10px;
    top: 20px;
  }

  #accountDivList{
    position: fixed;
    left: 60px;
    top: 15px;
  }

  #accountAvatar{
    width: 40px;
    height: 40px;
  }

  .logoimg{
    width: 300px;
  }

#slideFullScreen{
  position: absolute;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
}

.btnDetails {
  --background: var(--ion-color-bookmain-shade);
  color: white;
}

.my-custom-menu {
  --width: 500px;
}

.toolbar {
  --background: var(--ion-color-bookmain-tint);

  color: white;
}

.btnMenu {
  --background: var(--ion-color-bookmain-tint);
  color: white;
  width: 15em;
  padding-left: 80px;
}

.btnMENU {
  --background: white;
  color: var(--ion-color-bookmain-tint);
  width: 40px;
  height: 40px;
  margin-left: 3%;
}

.btnOffer {
  --background: var(--ion-color-bookmain-tint);
  color: white;
  width: 7px;
}

.btnFavourites {
  --background: pink;
  color: white;
}

.logoimgpr {
  position: absolute;
  right: 5%;
  width: 200px;
  
}

.detailsimg {
  width: 150px;
  height:250px;
  margin: auto;
}


.btnDetails {
  --background: var(--ion-color-bookmain-shade);
  color: white;
}

.btnAdd {
  margin-top: 15px;
  --background: white;
  color: var(--ion-color-bookmain-tint);
}

.transparent {
  --background: rgba(0, 0, 0, 0.0);
}