<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" stot="fixed">
    <ion-fab-button href="add-book" id="fabBtn">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id="container">
    <ion-list>
      <ion-list lines="none">
        <ion-item-sliding *ngFor="let book of book">
          <ion-item class="no-padding">
            <ion-label>
              <h2>Tytuł: {{book.tytul}}</h2>
              <p>Autor: {{book.autor}}</p>
              <h3>Cena: {{book.cena}}</h3>
              <h4>Stan: {{book.stan}}</h4>
              <h5>Opis: {{book.opis}}</h5>
              <h6>Miasto :{{book.miasto}}</h6>
            </ion-label>
          </ion-item>

          <ion-item-options side="start">
            <ion-item-option routerLink="/edit-book/book.id">
              <ion-icon slot="start" name="pencil-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>

          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteBook(book.id)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-list>
  </div>
</ion-content>
